<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bootstrap HTML Template // l2ollingneko </title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="common.css" rel="stylesheet">
</head>

<body>

	<div class="container">
    	<div class="panel panel-default">
		    <div class="panel-heading">
   				<h3 class="panel-title">Create Certificate</h3>
				<ol class="breadcrumb" style="float: right; margin-top: -26px;">
          			<li><a href="#">Home</a></li>
          			<li><a href="#">Library</a></li>
          			<li class="active">Data</li>
				</ol>
    		</div>

      		<div class="panel-body ">

				<div class="row">

					<div id="certificateRequestForm1" class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body text-left">
								<h2>&nbsp;&nbsp;สทช 1-1/1</h2>
								<div class="row" style="margin-top: 30px;">
									<label class="col-xs-3 control-label text-right">
										Name
									</label>
									<div class="col-xs-8  control-label">
										Sompong Thepsoftware
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Nationality 
									</label>
									<div class="col-xs-8  control-label">
										Thai 
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Address 
									</label>
									<div class="col-xs-8  control-label">
										795 Folsom Ave, Suite 600<br>
				                		San Francisco, CA 94107<br>
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Phone (ex. 0-2345-6789) 
									</label>
									<div class="col-xs-8  control-label">
										0-2999-9999
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Mobile Phone (ex. 0-2345-6789) 
									</label>
									<div class="col-xs-8  control-label">
										08-0909-0909
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Fax 
									</label>
									<div class="col-xs-8  control-label">
										0-2999-9999
									</div>
				        		</div>
								<hr>
                                <div class="row">
									<label class="col-xs-3 control-label text-right">
										Manufactory
									</label>
									<div class="col-xs-8  control-label">
										Name (ex. Sompong Thepsoftware)
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Address Line 1
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Address Line 2
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Town/City, State/Province
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Country, Zip Code
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Phone:
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Fax:
									</div>
				        		</div>
                                <div class="row">
									<label class="col-xs-3 control-label text-right">
										Warehouse
									</label>
									<div class="col-xs-8  control-label">
										Name (ex. Bangkok Warehouse)
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Address Line 1
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Address Line 2
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Town/City, State/Province
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Country, Zip Code
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Phone:
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Fax:
									</div>
				        		</div>
                                <div class="row">
									<label class="col-xs-3 control-label text-right">
										Purpose
									</label>
									<div class="col-xs-8  control-label">
										ex. Export
									</div>
				        		</div>
                                <div class="row">
									<label class="col-xs-3 control-label text-right">
										Contact
									</label>
									<div class="col-xs-8  control-label">
										Name (ex. Sompong Thepsoftware)
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Phone, E-mail
									</div>
				        		</div>
                                <div class="row">
									<label class="col-xs-3 control-label text-right">
										Receiver
									</label>
									<div class="col-xs-8  control-label">
										Name (ex. Sompong Thepsoftware)
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Address Line 1
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Address Line 2
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Town/City, State/Province
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Country, Zip Code
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Origin of plant
									</div>
				        		</div>
                                <h3>&nbsp;&nbsp;Example</h3>
                                <hr>
                                <div class="row">
									<label class="col-xs-3 control-label text-right">
										Example Detail #1
									</label>
									<div class="col-xs-8  control-label">
										Type of Example
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Detail
									</div>
				        		</div>
                                <div class="row">
									<div class="col-sm-offset-3 col-xs-8  control-label">
										Quantity
									</div>
				        		</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
