<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Registration</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-offset-1 col-xs-5">

          <div class="panel panel-default">
            <div class="panel-body text-center">
              <p>If you are<br><strong>"Customer"</strong></p>
              <p>
                <button type="button" class="btn btn-primary btn-lg">Click Here</button>
              </p>
            </div>
          </div>

        </div>
        <div class="col-xs-5">

          <div class="panel panel-default">
            <div class="panel-body text-center">
              <p>If you are<br><strong>"Agency"</strong></p>
              <p>
                <button type="button" class="btn btn-primary btn-lg">Click Here</button>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
