<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Registration</h3>
    </div>
    <div class="panel-body">
      <form role="form">
      <div class="row">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Company
          </label>
        </div>
        <div class="col-sm-offset-1 col-xs-5">

          <!-- <form role="form"> -->
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter first name">
            </div>
            <div class="form-inline">
              <input type="radio" name="gender"> Male
              <input type="radio" name="gender"> Female
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Nationality</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter nationality">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter address line 1">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter address line 2">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Fax</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter fax number">
            </div>
          <!-- </form> -->

        </div>
        <div class="col-xs-5">

          <!-- <form role="form"> -->
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter last name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Age</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter age // Shouldn't be input box">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Country</label>
              <select class="form-control">
                <option>Thailand</option>
                <option>China</option>
                <option>United States</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">City</label>
              <select class="form-control">
                <option>Bangkok</option>
                <option>Beijing</option>
                <option>Washington DC</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Phone</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter phone">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile Phone</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter mobile phone">
            </div>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
            <button class="btn btn-default pull-right">Back</button>
          <!-- </form> -->

        </div>
      </div>
      </form>
    </div>
  </div>



</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
