<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">

  <div class="panel panel-default" backgroundcolor="red">
    <div class="panel-heading">
      <h3 class="panel-title">testasdkasdlksadlkls</h3>
	  
		<ol class="breadcrumb" style="float:right ;margin-top : -26px">
		<li><a href="# style="text-align:right>Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
</ol>
    </div>
    <div class="panel-body">
	
<form class="form-inline" role="search" name="searchForm">
  <div class="form-group">
    <label class="sr-only" for="searchInput">Search Input</label>
    <input type="text" class="form-control" id="searchInput" placeholder="Enter search keyword.." name="search_input">
  </div>
  

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="search-dropdown" id="searchDropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Search by Request ID</a></li>
    <li><a href="#">Search by Importer Name</a></li>
    <li><a href="#">Search by Requester</a></li>
  </ul>
</div>


<button type="submit" class="btn btn-primary">Search</button>


</form>

<br>


<table class="table table-bordered">
          <thead>
            <tr class="Header">
              <th>Request ID</th>
              <th>Importer Name</th>
              <th>Requester</th>
			  <th>Sent Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5" class="text-muted" style="text-align:center">No Data</td>
            </tr>
          </tbody>
        </table>
      
	  <br>
	  <button type="button" class="btn btn-default">Make New Request</button>
    </div>
  </div>


</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
