<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Request</h3>
    </div>
    <div class="panel-body">

<form class="form-inline" role="search">
  <div class="form-group">
    <label class="sr-only" for="exampleInputNumber">Search Input</label>
    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Enter search keyword..">
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="searchOptionRadios" id="searchOptionRadios1" value="ID" > Search for Request ID
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="searchOptionRadios" id="searchOptionRadios2" value="ImporterName" > Search for Importer Name
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="searchOptionRadios" id="searchOptionRadios3" value="Requester" > Search for Requester
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>


<table class="table">
          <thead>
            <tr class="Header" bgcolor="a8a8a8">
              <th>Request ID</th>
              <th>Importer Name</th>
              <th>Requester</th>
			  <th>Sent Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="success">
              <td>16</td>
              <td>Jeremy</td>
              <td>Bolshave Import Services</td>
			  <td>19/9/2013</td>
              <td><strong><font color="green">Complete</font></strong></td>
            </tr>
            <tr class="active">
              <td>17</td>
              <td>Jeremy</td>
              <td>Bolshave Import Services</td>
			  <td>24/9/2013</td>
              <td><strong><font color="ff9900">Pending</font></strong></td>
            </tr>
            <tr class="danger">
              <td>20</td>
              <td>Jeremy</td>
              <td>Jeremy</td>
			  <td>24/9/2013</td>
              <td><strong><font color="red">Failed</font></strong></td>
            </tr>
            <tr class="warning" >
              <td>26</td>
              <td>Jeremy</td>
              <td>Bolshave Import Services</td>
			  <td>24/9/2013</td>
              <td><strong><font color="purple">Document Needed</font></strong></td>
            </tr>
          </tbody>
        </table>
      
	  <br>
	  <button type="button" class="btn btn-normal">Make New Request</button>
    </div>
  </div>


</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
