<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">



  <div class="panel panel-default" backgroundcolor="red">
    <div class="panel-heading">
      <h3 class="panel-title">Request // Lattasit</h3>
	  
		<ol class="breadcrumb" style="float:right ;margin-top : -26px">
		<li><a href="# style="text-align:right>Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
</ol>
    </div>
    <div class="panel-body">
	
	

<table class="table table-bordered">
          <thead>
            <tr class="Header">
              <th>Request ID</th>
              <th>Importer Name</th>
              <th>Requester</th>
			  <th>Sent Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td><a href="3">26</a></td>
              <td>Jeremy</td>
              <td>Bolshave Import Services</td>
			  <td>24/9/2013</td>
              <td class="text-danger">Document Needed</td>
            </tr>
          </tbody>
        </table>
      
	  <br><br>
	  
	  <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Document</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>สทช. 1-1/1(<a href="#">Download</a>)</td>
                  <td class="text-success">Available</td>
                </tr>
                <tr>
                  <td>สทช. 1-1/2 </td>
                  <td class="text-danger">Required</td>
                </tr>
                <tr>
                  <td>Invoice</td>
                  <td class="text-warning">Pending</td>
                </tr>
                <tr>
                  <td>Receipt</td>
                  <td class="text-warning">Pending</td>
                </tr>
 
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>


</div>

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
