<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Request // Lattasit</h3>
    </div>
    <div class="panel-body">

<table class="table table-bordered">
          <thead>
            <tr class="Header" bgcolor="c5aff8">
              <th><font color="white">Request ID</th>
              <th><font color="white">Importer Name</th>
              <th><font color="white">Requester</th>
			  <th><font color="white">Sent Date</th>
              <th><font color="white">tatus</th>
            </tr>
          </thead>
          <tbody>
            <tr class="info" >
              <td><font color="grey">26</td>
              <td><font color="grey">Jeremy</td>
              <td><font color="grey">Bolshave Import Services</td>
			  <td><font color="grey">24/9/2013</td>
              <td><strong><font color="purple">Document Needed</font></strong></td>
            </tr>
          </tbody>
        </table>
      
	  <br><br>
	  
	  <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <table class="table table-bordered">
              <thead>
                <tr bgcolor="a65880">
                  <th><font color="white">Document</th>
                  <th><font color="white">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="info">
                  <td><font color="grey">สทช. 1-1/1</td>
                  <td><strong><font color="green">Available</strong></td>
                </tr>
                <tr class="info">
                  <td><font color="grey">ทช. 1-1/2</td>
                  <td><strong><font color="red">Required</strong></td>
                </tr>
                <tr class="info">
                  <td><font color="grey">Invoice</td>
                  <td><strong><font color="grey">Pending</strong></td>
                </tr>
                <tr class="info">
                  <td><font color="grey">Receipt</td>
                  <td><strong><font color="grey">Pending</strong></td>
                </tr>
 
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>


</div>

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
