<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bootstrap HTML Template</title>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="common.css" rel="stylesheet">
</head>

<body>

  <div class="container">


    <div class="panel panel-default">
      <div class="row">
       <div class="panel-heading"> 
        <div class="col-lg-4">
          <h3 class="panel-title">
            Account Setting
          </h3>
        </div>        
      </div>
    </div>

      <div class="panel-body ">

        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>






<br><br>
        <div class="row">
          <div class="col-sm-12">
            <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Account information</a></li>
                <li class=""><a href="#profile" data-toggle="tab">Agency</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="accountInformation">
                  <h3>Account Information</h3>
                  <p style="color:purple">Account type :  <font style="color:black">Customer<font/>  </p>
                  <p style="color:purple">UserID :  <font style="color:black">Somgpong1234<font/>  </p>
                  <p style="color:purple">Password :  <font style="color:black">************<font/>  </p>
                </br>
                  <p style="color:purple">Firstname : <font style="color:black">Sompong</font></p>
                  <p style="color:purple">Lastname : <font style="color:black">Lattapong</font></p>
                </br>
                  <p style="color:purple">Address : <font style="color:black">123/55 Soi Ngamwongwan44 ,Kasetsart University Bangkok</font></p>
                  <p style="color:purple">Country : <font style="color:black">Thailand</font></p>
                  <p style="color:purple">ZipCode : <font style="color:black">10220</font> </p>
                  <p style="color:purple"> Phone : <font style="color:black">02-444-4444</font></p>
                  

                  <button type="button" class="btn btn-primary btn-lg" style="float:right">Edit</button>
                </div>



                <div class="tab-pane fade" id="agency">
                  <h3>Registered Agency</h3>
                </br>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Agency ID</th>
                      <th>Agency Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Kanisorn bigmucle</td>
                      
                      <td><strong>activated</strong></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Somgpong Lumoonpun123</td>
                      
                      <td><strong>activated</strong></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Sonny Honny</td>
                      
                      <td><strong>activated</strong></td>
                    </tr>
                  </tbody>
                </table>
                  <button type="button" class="btn btn-primary btn-lg" style="float:right">Add</button>
                  <button type="button" class="btn btn-primary btn-lg" style="float:right">Delete</button>

                </div>
              </div>
            </div>
          </div>
        </div>

        

<br><br>
        
                  
                


        


    </div>
  </div>


  </div>

  <script src="assets/js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>