<!doctype html>

<html> 

  <head>
    <title> Agency Management - Revoke Agency </title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="common.css" rel="stylesheet">
    <script>
      function revokeConfirmation(){
        confirm("Aure you sure to revoke this agency?")
      }
    </script>
  </head>

  <body>

    <div class ="container">
      <div class ="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Agency Management -Revoke Agency // Win</h3>
        </div>

        <div class="panel-body ">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Agency Management</a></li>
            <li class = "active">Revoke Agency</li>
          </ol>

          <h3 class = "col-xs-8 col-sm-offset-1"> Agency information</h3>
          <div class = "container col-xs-8 col-sm-offset-2">
            <div class = "container">

              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Firstname</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongFirstname
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Lastname</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongLastname
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Company</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongCompany
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Email</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongEmail
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Address1</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongAddress1
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Address2</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongAddress2
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Zip code</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongZip code
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>City</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongCity
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Country</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongCountry
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Phone</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongPhone
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Fax</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongFax
                </div>
              </div>
              <div class = "row">
                <div class = "col-xs-3 text-right" >
                  <strong>Mobile phone</strong>
                </div>
                <div class = "col-xs-8 col-sm-offset-1" >
                  SompongMobile phone
                </div>
              </div>
            </div>

          </div>

          <div class = "row" >
            <form class = "form-inline text-right " role = "form">
              <div class = "form-group col-xs-6 col-sm-offset-5">
                <button type = "button" class = "btn btn-default ">Back</button>
                <button type = "button" class = "btn btn-default btn-danger" onclick="revokeConfirmation()">Revoke</button>
              </div>
            </form>
          </div>
        </div>
      </div> 

  </body>
</html>
