<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bootstrap HTML Template // l2ollingneko </title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="common.css" rel="stylesheet">
</head>

<body>

	<div class="container">
    	<div class="panel panel-default">
		    <div class="panel-heading">
   				<h3 class="panel-title">Create Certificate</h3>
    		</div>

      		<div class="panel-body ">
        		<ol class="breadcrumb">
          			<li><a href="#">Home</a></li>
          			<li><a href="#">Library</a></li>
          			<li class="active">Data</li>
				</ol>
			
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">Step 1</a></li>
					<li><a href="#">Step 2</a></li>
					<li><a href="#">Finish</a></li>
				</ul>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Name 
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Nationality 
					</label>
					<div class="col-xs-10 control-label">
						Thai 
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Phone 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Mobile Phone 
					</label>
					<div class="col-xs-10 control-label">
						08-0909-0909
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Fax 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>
		
				<hr>
        		<form class="form-horizontal" role="form">
        			<div class="form-group">
						<label for="sampleLabel" class="col-xs-2 control-label ">
							Manufactory
						</label>
            			<div class="col-xs-9">
              				<input type="text" class="form-control" id="sampleName" placeholder="Name">
              				<input type="text" class="form-control" id="sampleName" placeholder="Address Line 1">
              				<input type="text" class="form-control" id="sampleName" placeholder="Address Line 2">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-5">
              				<input type="text" class="form-control" id="sampleName" placeholder="Town/City">
						</div>
						<div class=" col-xs-4">
               				<select class="form-control">
                				<option>State/Province</option>
                				<option>Negative Control</option>
                				<option>Condition Reaction</option>
							</select>
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-6">
               				<select class="form-control">
                				<option>Country</option>
                				<option>Negative Control</option>
                				<option>Condition Reaction</option>
							</select>
						</div>
						<div class=" col-xs-3">
              				<input type="text" class="form-control" id="sampleName" placeholder="Zip Code">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-5">
              				<input type="text" class="form-control" id="sampleName" placeholder="Phone">
						</div>
						<div class=" col-xs-4">
              				<input type="text" class="form-control" id="sampleName" placeholder="Fax">
						</div>
					</div>
					
        			<div class="form-group">
						<label for="sampleLabel" class="col-xs-2 control-label ">
							Plant Warehouse
						</label>
            			<div class="col-xs-9">
              				<input type="text" class="form-control" id="sampleName" placeholder="Name">
              				<input type="text" class="form-control" id="sampleName" placeholder="Address Line 1">
              				<input type="text" class="form-control" id="sampleName" placeholder="Address Line 2">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-5">
              				<input type="text" class="form-control" id="sampleName" placeholder="Town/City">
						</div>
						<div class=" col-xs-4">
               				<select class="form-control">
                				<option>State/Province</option>
                				<option>Negative Control</option>
                				<option>Condition Reaction</option>
							</select>
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-6">
               				<select class="form-control">
                				<option>Country</option>
                				<option>Negative Control</option>
                				<option>Condition Reaction</option>
							</select>
						</div>
						<div class=" col-xs-3">
              				<input type="text" class="form-control" id="sampleName" placeholder="Zip Code">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-5">
              				<input type="text" class="form-control" id="sampleName" placeholder="Phone">
						</div>
						<div class=" col-xs-4">
              				<input type="text" class="form-control" id="sampleName" placeholder="Fax">
						</div>
          			</div>

					<div class="form-group">
						<label class="col-xs-2 control-label">
							Purpose of Requesting a Certificate
						</label>
						<div class="col-xs-2">
							<input type="checkbox">&nbsp;&nbsp;Export
						</div>
						<div class="col-xs-2">
							<input type="checkbox">&nbsp;&nbsp;Import
						</div>
						<div class="col-xs-2">
							<input type="checkbox">&nbsp;&nbsp;Research
						</div>
						<div class="col-xs-3">
							<input type="checkbox">&nbsp;&nbsp;Industry
						</div>
						<div class="col-xs-2">
							<input type="checkbox">&nbsp;&nbsp;Comsumption
						</div>				
						<div class="col-xs-2">
							<input type="checkbox">&nbsp;&nbsp;Other
              				<input type="text" class="form-control" id="sampleName" placeholder="Fax">
						</div>
					</div>

					<div class="form-group">
						<label for="test" class="col-xs-2 control-label">
							Contact
						</label>
						<div class="col-xs-9">
              				<input type="text" class="form-control" id="sampleName" placeholder="Name">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-4">
              				<input type="text" class="form-control" id="sampleName" placeholder="Phone">
						</div>
						<div class=" col-xs-5">
              				<input type="email" class="form-control" id="sampleName" placeholder="E-mail">
						</div>
					</div>
					
					<div class="form-group">
						<label for="sampleLabel" class="col-xs-2 control-label ">
							Receiver
						</label>
            			<div class="col-xs-9">
              				<input type="text" class="form-control" id="sampleName" placeholder="Name">
              				<input type="text" class="form-control" id="sampleName" placeholder="Address Line 1">
              				<input type="text" class="form-control" id="sampleName" placeholder="Address Line 2">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-5">
              				<input type="text" class="form-control" id="sampleName" placeholder="Town/City">
						</div>
						<div class=" col-xs-4">
               				<select class="form-control">
                				<option>State/Province</option>
                				<option>Negative Control</option>
                				<option>Condition Reaction</option>
							</select>
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-6">
               				<select class="form-control">
                				<option>Country</option>
                				<option>Negative Control</option>
                				<option>Condition Reaction</option>
							</select>
						</div>
						<div class=" col-xs-3">
              				<input type="text" class="form-control" id="sampleName" placeholder="Zip Code">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class=" col-xs-9">
              				<input type="text" class="form-control" id="sampleName" placeholder="Origin of Plant">
						</div>
          			</div>

					<div class="form-group">
						<label for="test" class="col-xs-2 control-label">
							Example Detail
						</label>
						<div class=" col-xs-4">
              				<input type="text" class="form-control" id="sampleName" placeholder="Type of Example">
						</div>
						<div class=" col-xs-5">
              				<input type="email" class="form-control" id="sampleName" placeholder="Quantity">
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class="col-xs-9">
							<textarea class="form-control" id="sampleName" placeholder="Detail" style="height: 95px"></textarea>
						</div>
						<label for="sampleLabel" class="col-xs-2 control-label "></label>
						<div class="col-xs-offset-6 col-xs-3">
              				<button type="button" class="btn btn-default">Remove</button>
              				<button type="button" class="btn btn-primary">Add Example</button>
            			</div>
					</div>

          			<div class="form-group">
            			<div class="col-sm-offset-9 col-sm-4">
              				<button type="button" class="btn btn-default">Reset</button>
							<button type="button" class="btn btn-primary">Next</button>
            			</div>
          			</div>
        		</form>

			</div>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
