<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bootstrap HTML Template // l2ollingneko </title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="common.css" rel="stylesheet">
</head>

<body>

	<div class="container">
    	<div class="panel panel-default">
		    <div class="panel-heading">
   				<h3 class="panel-title">Create Certificate</h3>
				<ol class="breadcrumb" style="float: right; margin-top: -26px;">
          			<li><a href="#">Home</a></li>
          			<li><a href="#">Library</a></li>
          			<li class="active">Data</li>
				</ol>
    		</div>

      		<div class="panel-body ">

				<div class="row">

					<div class="col-xs-2">
						<div class="btn-group-vertical">
							<button type="button" class="btn btn-active" data-toggle="#">
								<a href="#">
									<span class="glyphicon glyphicon-file"></span>สทช 1-1/1
								</a>
							</button>
							<button type="button" class="btn btn-default" data-toggle="form_1">
								<a href="#">
									<span class="glyphicon glyphicon-file"></span>สทช 1-1/2
								</a>
							</button>
						</div>
					</div>

					<div id="certificateRequestForm1" class="col-xs-10">
						<div class="panel panel-default">
							<div class="panel-body text-left">
								<h2>&nbsp;&nbsp;สทช 1-1/1</h2>
								<div class="row" style="margin-top: 30px;">
									<label class="col-xs-3 control-label text-right">
										Name
									</label>
									<div class="col-xs-8  control-label">
										Sompong Thepsoftware
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Nationality 
									</label>
									<div class="col-xs-8  control-label">
										Thai 
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Address 
									</label>
									<div class="col-xs-8  control-label">
										795 Folsom Ave, Suite 600<br>
				                		San Francisco, CA 94107<br>
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Phone (ex. 0-2345-6789) 
									</label>
									<div class="col-xs-8  control-label">
										0-2999-9999
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Mobile Phone (ex. 0-2345-6789) 
									</label>
									<div class="col-xs-8  control-label">
										08-0909-0909
									</div>
				        		</div>
								<div class="row"> 
									<label class="col-xs-3 control-label text-right">
										Fax 
									</label>
									<div class="col-xs-8  control-label">
										0-2999-9999
									</div>
				        		</div>
								<hr>

								<!-- form -->
				        		<form class="form-horizontal" role="form">

									<!-- Manufactory -->
				        			<div class="form-group">
										<label for="manufactoryName" class="col-xs-3 control-label ">
											Manufactory
										</label>
										<div class="col-xs-8">
				              				<input type="text" class="form-control" id="manufactoryName" name="manufactory_name" placeholder="Name (ex. Sompong Thepsoftware)">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Address Line 1">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Address Line 2">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Town/City">
										</div>
										<div class="col-xs-4 ">
				               				<select class="form-control">
				                				<option>State/Province</option>
				                				<option>Negative Control</option>
				                				<option>Condition Reaction</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				               				<select class="form-control">
				                				<option>Country</option>
				                				<option>Negative Control</option>
				                				<option>Condition Reaction</option>
											</select>
										</div>
										<div class="col-xs-4 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Zip Code (ex. 12345)">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Phone (ex. 0-2345-6789)">
										</div>
										<div class=" col-xs-4 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Fax">
										</div>
				          			</div>
									
									<!-- Plant Warehouse -->
				        			<div class="form-group">
										<label for="plantWarehouseName" class="col-xs-3 control-label ">
											Plant Warehouse
										</label>
										<div class="col-xs-8 ">
				              				<input type="text" class="form-control" id="plantWarehouseName" name="plant_warehouse_name" placeholder="Name (ex. Sompong Thepsoftware)">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Address Line 1">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Address Line 2">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Town/City">
										</div>
										<div class="col-xs-4 ">
				               				<select class="form-control">
				                				<option>State/Province</option>
				                				<option>Negative Control</option>
				                				<option>Condition Reaction</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				               				<select class="form-control">
				                				<option>Country</option>
				                				<option>Negative Control</option>
				                				<option>Condition Reaction</option>
											</select>
										</div>
										<div class="col-xs-4 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Zip Code (ex. 12345)">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Phone (ex. 0-2345-6789)">
										</div>
										<div class=" col-xs-4 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Fax">
										</div>
				          			</div>

									<!-- Purpose -->
									<div class="form-group">
										<label class="col-xs-3 control-label">
											Purpose of Requesting a Certificate
										</label>
										<div class="col-xs-3">
											<input type="checkbox">&nbsp;&nbsp;Export
										</div>
										<div class="col-xs-3">
											<input type="checkbox">&nbsp;&nbsp;Import
										</div>
										<div class="col-xs-3">
											<input type="checkbox">&nbsp;&nbsp;Research
										</div>
										<div class="col-xs-3">
											<input type="checkbox">&nbsp;&nbsp;Industry
										</div>
										<div class="col-xs-3">
											<input type="checkbox">&nbsp;&nbsp;Comsumption
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-2">
											<input type="checkbox">&nbsp;&nbsp;Other
										</div>
										<div class="col-xs-6 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Fax">
										</div>
									</div>

									<!-- Contact -->
									<div class="form-group">
										<label for="contact" class="col-xs-3 control-label">
											Contact
										</label>
										<div class="col-xs-8 ">
				              				<input type="text" class="form-control" id="contact" name="contact" placeholder="Name (ex. Sompong Thepsoftware)">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Phone (ex. 0-2345-6789)">
										</div>
										<div class=" col-xs-4 ">
				              				<input type="email" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="E-mail">
										</div>
									</div>
									
									<!-- Receiver -->
									<div class="form-group">
										<label for="receiverName" class="col-xs-3 control-label ">
											Receiver
										</label>
				            			<div class="col-xs-8 ">
				              				<input type="text" class="form-control" id="receiverName" name="receiver_name" placeholder="Name (ex. Sompong Thepsoftware)">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Address Line 1">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Address Line 2">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Town/City">
										</div>
										<div class="col-xs-4 ">
				               				<select class="form-control">
				                				<option>State/Province</option>
				                				<option>Negative Control</option>
				                				<option>Condition Reaction</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-4">
				               				<select class="form-control">
				                				<option>Country</option>
				                				<option>Negative Control</option>
				                				<option>Condition Reaction</option>
											</select>
										</div>
										<div class="col-xs-4 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Zip Code (ex. 12345)">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
				              				<input type="text" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Origin of Plant">
										</div>
									</div>

									<!-- Examples -->
				          			<div class="col-sm-offset-1">
					          			<h3>Example</h3>
				          			</div>
				          			<hr>
									<div class="form-group">
										<label for="exampleType" class="col-xs-3 control-label">
											Example Detail # 1
										</label>
										<div class="col-xs-6">
				              				<input type="text" class="form-control" id="exampleType" name="example_type" placeholder="Type of Example">
										</div>
										<div class="col-xs-2 ">
				              				<input type="email" class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Quantity">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-xs-8 ">
											<textarea class="form-control" id="sampleName (ex. Sompong Thepsoftware) (ex. Sompong Thepsoftware)" placeholder="Detail" style="height: 95px"></textarea>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-7 col-xs-5">
				              				<button id="removeExample" type="button" class="btn btn-danger">Remove</button>
				              				<button id="addExample" type="button" class="btn btn-primary">Add Example</button>
										</div>
									</div>
									
									<hr>
				          			<div class="form-group">
				            			<div class="col-sm-offset-8 col-sm-4">
				              				<button type="reset" class="btn btn-danger">Reset</button>
											<button type="button" class="btn btn-primary">Submit</button>
				            			</div>
				          			</div>
				        		</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
