<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bootstrap HTML Template // l2ollingneko </title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="common.css" rel="stylesheet">
</head>

<body>

	<div class="container">
    	<div class="panel panel-default">
		    <div class="panel-heading">
   				<h3 class="panel-title">Create Certificate</h3>
    		</div>

      		<div class="panel-body ">
        		<ol class="breadcrumb">
          			<li><a href="#">Home</a></li>
          			<li><a href="#">Library</a></li>
          			<li class="active">Data</li>
				</ol>
			
				<ul class="nav nav-tabs">
					<li><a href="#">Step 1</a></li>
					<li class="active"><a href="#">Step 2</a></li>
					<li><a href="#">Finish</a></li>
				</ul>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Name 
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Nationality 
					</label>
					<div class="col-xs-10 control-label">
						Thai 
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Phone 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Mobile Phone 
					</label>
					<div class="col-xs-10 control-label">
						08-0909-0909
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Fax 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Manufacture or Shipper
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Phone 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Fax
					</label>
					<div class="col-xs-10 control-label">
						0-2909-0909
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Plant Warehouse
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Phone 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Fax 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>

				<div class="row" style="margin-top:30px">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Purpose of Requesting a Certificate
					</label>
					<div class="col-xs-2">
						<input type="checkbox" checked>&nbsp;&nbsp;Export
					</div>
					<div class="col-xs-2">
						<input type="checkbox">&nbsp;&nbsp;Import
					</div>
					<div class="col-xs-2">
						<input type="checkbox">&nbsp;&nbsp;Research
					</div>
					<div class="col-xs-3">
						<input type="checkbox">&nbsp;&nbsp;Industry
					</div>
					<div class="col-xs-2">
						<input type="checkbox">&nbsp;&nbsp;Comsumption
					</div>				
					<div class="col-xs-2">
						<input type="checkbox">&nbsp;&nbsp;Other
          				<input type="text" class="form-control" id="sampleName" placeholder="Fax">
					</div>
				</div>
		
				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Contact Name 
					</label>
					<div class="col-xs-10 control-label">
						Tonmai Keawkajee
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Phone 
					</label>
					<div class="col-xs-10 control-label">
						0-2999-9999
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						E-mail 
					</label>
					<div class="col-xs-10 control-label">
						iloveplant@contact.com
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Receiver 
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>

				<div class="row" style="margin-top: 30px"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Origin of Plant 
					</label>
					<div class="col-xs-10 control-label">
						Afganistan
					</div>
        		</div>

        		<div class="row" style="margin-top: 30px;">
					<div class="col-xs-12">
	        			<table class="table table-bordered">
    	    				<thead>
    	    					<tr class="Header" bgcolor="c5aff8">
       	 							<th><font color="white">Type of Example</font></th>
       	 							<th><font color="white">Quantity</font></th>
        							<th><font color="white">Detail</font></th>
        						</tr>
        					</thead>
        					<tbody>
        						<tr class="info">
        							<td><font color="grey">example 1</font></td>
        							<td><font color="grey">1</font></td>
        							<td><font color="grey">example detail</font></td>
        						</tr>
								<tr class="info">
        							<td><font color="grey">example 1</font></td>
        							<td><font color="grey">1</font></td>
        							<td><font color="grey">example detail</font></td>
        						</tr>
        					</tbody>
        				</table>
					</div>
        		</div>

				<form class="form-horizontal" role="form">
          			<div class="form-group">
            			<div class="col-sm-offset-9 col-sm-4">
              				<button type="button" class="btn btn-default">Back</button>
							<button type="button" class="btn btn-primary">Confirm</button>
            			</div>
          			</div>
        		</form>

			</div>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
