<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bootstrap HTML Template // l2ollingneko </title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="common.css" rel="stylesheet">
</head>

<body>

	<div class="container">
    	<div class="panel panel-default">
		    <div class="panel-heading">
   				<h3 class="panel-title">Create Certificate</h3>
    		</div>

      		<div class="panel-body ">
        		<ol class="breadcrumb">
          			<li><a href="#">Home</a></li>
          			<li><a href="#">Library</a></li>
          			<li class="active">Data</li>
				</ol>
			
				<ul class="nav nav-tabs">
					<li><a href="#">Step 1</a></li>
					<li class="active"><a href="#">Step 2</a></li>
					<li><a href="#">Finish</a></li>
				</ul>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Common Name 
					</label>
					<div class="col-xs-10 control-label">
						Undead Plant
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Manufacture or Shipper
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Vendor or Consignee
					</label>
					<div class="col-xs-10 control-label">
						Sompong Thepsoftware
					</div>
        		</div>
				<div class="row"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Address 
					</label>
					<div class="col-xs-10 control-label">
						795 Folsom Ave, Suite 600<br>
                		San Francisco, CA 94107<br>
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Description of Product
					</label>
					<div class="col-xs-10 control-label">
						Description
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;">
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Final Destination
					</label>
					<div class="col-xs-10 control-label">
						Auckland
					</div>
        		</div>

				<div class="row" style="margin-top: 30px;"> 
					<label for="sampleLabel" class="col-xs-2 control-label text-right">
						Port of Entry or Embarktion
					</label>
					<div class="col-xs-10 control-label">
						New Zealand
					</div>
        		</div>

				<form class="form-horizontal" role="form">
          			<div class="form-group">
            			<div class="col-sm-offset-9 col-sm-4">
              				<button type="button" class="btn btn-default">Back</button>
							<button type="button" class="btn btn-primary">Confirm</button>
            			</div>
          			</div>
        		</form>

			</div>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
