<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>View All Requests (GMO Staff)</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="common.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">View All Requests (GMO Staff) // Sonny</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr class="header">
                        <th>ID</th>
                        <th>Plant Name</th>
                        <th>Entrepreneur</th>
                        <th>Current Process</th>
                    </tr>
                    <tr>
                        <td><a href="#">0012</a></td>
                        <td>Sprout</td>
                        <td>Sompong Enterprise</td>
                        <td>Nitrogen Test</td>
                    </tr>
                    <tr>
                        <td><a href="#">0023</a></td>
                        <td>Mandragora</td>
                        <td>Monster Inc.</td>
                        <td>Acid Test</td>
                    </tr>
                    <tr>
                        <td><a href="#">0034</a></td>
                        <td>TTD</td>
                        <td>Natus Vincere</td>
                        <td>Creep Test</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
