<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Lab Task Form</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>=

<div class="container">

    <div class="panel panel-default">   

      <div class="panel-heading">
            <h3 class="panel-title">Lab Task Form</h3>
            
              <ol class="breadcrumb" style="float:right ;margin-top : -26px">
                      <li><a href="#">Home</a></li>
                      <li class="active">Making and Sending a Lab Request Form</li>
              </ol>
            
          </div>
   
        <div class="form-group"
      <div class="panel-body ">

      <div class="row">
          <div class="col-xs-12">
            <div class="bs-example bs-example-tabs">  
            
              <div id="myTabContent" class="tab-content">

                
                  <h4>&nbsp;&nbsp;&nbsp;List of Products</h4>
                  <hr>
                    <form class="form-horizontal" role="form">
                      
                      <!-- List1 -->
                      <div class="form-group">
                        <label for="inputProductCode1" class="col-xs-3 control-label">Product Code</label>
                          
                          <div class="col-xs-4">
                            <input type="text" class="form-control" id="productCode" name="product_code" placeholder="ProductCode(ex. 111122223333)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputProductName1" class="col-xs-3 control-label">Product Name</label>
                          <div class="col-xs-4">
                            <input type="productName" class="form-control" id="productName" name="product_name" placeholder="productName(ex. Jaturawit)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="measureAndVolume1" class="col-xs-3 control-label">Measure(g)</label>
                          <div class="col-xs-4">
                            <input type="measureAndVolume" class="form-control" id="measure" name="measure" placeholder="measure(ex. 13)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="measureAndVolume1" class="col-xs-3 control-label">Volume(mL)</label>
                          <div class="col-xs-4">
                            <input type="measureAndVolume" class="form-control" id="volume" name="volume" placeholder="volume(ex. 12)">
                          </div>
                      </div>

                      <!-- DateStart -->
                      <div class="form-group">
                        <label for="date1" class="col-xs-3 control-label">Date Start</label>
                    
                          <div class="col-xs-1">
                          
                             <select class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                             </select>
                           </div>

                           <div class="col-xs-2">
                            <select class="form-control">
                              <option>January</option>
                              <option>February</option>
                              <option>March</option>
                              <option>April</option>
                              <option>May</option> 
                            </select>
                            </div>
                             
                           
                            
                             <div class="col-xs-2">
                            <select class="form-control">
                              <option>2011</option>
                              <option>2012</option>
                              <option>2013</option>
                              <option>2014</option>
                              <option>2015</option>
                            </select>
                            </div>
                      
                            </div>

                            <!-- DateFinish -->
                            <div class="form-group">
                        <label for="date1" class="col-xs-3 control-label">Date Finish</label>
                          <div class="col-xs-1">
                          
                             <select class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                             </select>
                           </div>

                           <div class="col-xs-2">
                            <select class="form-control">
                              <option>January</option>
                              <option>February</option>
                              <option>March</option>
                              <option>April</option>
                              <option>May</option> 
                            </select>
                            </div>
                             
                           
                            
                             <div class="col-xs-2">
                            <select class="form-control">
                              <option>2011</option>
                              <option>2012</option>
                              <option>2013</option>
                              <option>2014</option>
                              <option>2015</option>
                            </select>
                            </div>
                          </div>

                        <div class="form-group">
                          <div class="col-sm-offset-8 col-xs-4">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </div>
                      </div>

                      <div class="form-group">
                         <div class="col-sm-offset-8 col-xs-4">
                             <button type="button" class="btn btn-danger">Delete</button>
                         </div>

                      </div>

                      <hr>

                      <!-- List2 -->
                      <div class="form-group">
                        <label for="inputProductCode1" class="col-xs-3 control-label">Product Code</label>
                          
                          <div class="col-xs-4">
                            <input type="text" class="form-control" id="productCode" name="product_code" placeholder="product(ex. 111122223333)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputProductName1" class="col-xs-3 control-label">Product Name</label>
                          <div class="col-xs-4">
                            <input type="productName" class="form-control" id="productName" name="product_name" placeholder="productName(ex. Jaturawit)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="measureAndVolume1" class="col-xs-3 control-label">Measure(g)</label>
                          <div class="col-xs-4">
                            <input type="measureAndVolume" class="form-control" id="measure" name="measure" placeholder="measure(ex. 13)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="measureAndVolume1" class="col-xs-3 control-label">Volume(mL)</label>
                          <div class="col-xs-4">
                            <input type="measureAndVolume" class="form-control" id="volume" name="volume" placeholder="volume(ex. 12)">
                          </div>
                      </div>

                      <!-- DateStart -->
                      <div class="form-group">
                        <label for="date1" class="col-xs-3 control-label">Date Start</label>
                    
                          <div class="col-xs-1">
                          
                             <select class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                             </select>
                           </div>

                           <div class="col-xs-2">
                            <select class="form-control">
                              <option>January</option>
                              <option>February</option>
                              <option>March</option>
                              <option>April</option>
                              <option>May</option> 
                            </select>
                            </div>
                             
                           
                            
                             <div class="col-xs-2">
                            <select class="form-control">
                              <option>2011</option>
                              <option>2012</option>
                              <option>2013</option>
                              <option>2014</option>
                              <option>2015</option>
                            </select>
                            </div>
                      
                            </div>

                            <!-- DateFinish -->
                            <div class="form-group">
                        <label for="date1" class="col-xs-3 control-label">Date Finish</label>
                          <div class="col-xs-1">
                          
                             <select class="form-control">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                             </select>
                           </div>

                           <div class="col-xs-2">
                            <select class="form-control">
                              <option>January</option>
                              <option>February</option>
                              <option>March</option>
                              <option>April</option>
                              <option>May</option> 
                            </select>
                            </div>
                             
                           
                            
                             <div class="col-xs-2">
                            <select class="form-control">
                              <option>2011</option>
                              <option>2012</option>
                              <option>2013</option>
                              <option>2014</option>
                              <option>2015</option>
                            </select>
                            </div>
                          </div>

                        <div class="form-group">
                          <div class="col-sm-offset-8 col-xs-4">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                          </div>
                      </div>

                      <div class="form-group">
                         <div class="col-sm-offset-8 col-xs-4">
                             <button type="button" class="btn btn-danger">Delete</button>
                         </div>

                      </div>


                      <hr>

                      <div class="form-group">
                        <div class="col-sm-offset-5 col-xs-7">
                          <button type="button" class="btn btn-primary">Add Project</button>
                        </div>
                      </div>

                      <hr>
                      
                      <div class="form-group">
                        <label for="responsible" class="col-xs-2 control-label">Responsible</label>
                         
                      </div>

                      <div class="form-group">
                          <div class="col-sm-offset-2 col-xs-4">
                             <input type="responsible" class="form-control" id="responsible1" name="responsible1" placeholder="responsible1(ex. Somchai)"><br>
                            <input type="responsible" class="form-control" id="responsible2" name="responsible2" placeholder="responsible2(ex. Somchai)"><br>
                            <input type="responsible" class="form-control" id="responsible3" name="responsible3" placeholder="responsible3(ex. Somchai)"><br>
                            <input type="responsible" class="form-control" id="responsible4" name="responsible4" placeholder="responsible4(ex. Somchai)"><br>
                            <input type="responsible" class="form-control" id="responsible5" name="responsible5" placeholder="responsible5(ex. Somchai)"><br>
                            <button type="button" class="btn btn-primary">Add</button>
                          </div>
                      </div>


                      <hr>
                      
                      <h4>&nbsp;&nbsp;&nbsp;Detail Of Analysis</h4>
                      
                      <hr>

                      <div class="form-group">
                        <label for="inputCodeOfProduct1" class="col-xs-3 control-label">Product Code</label>
                          <div class="col-xs-4">
                            <input type="codeOfProduct" class="form-control" id="productCode" name="product_code" placeholder="productCode(ex. 111122223333)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputCodeOfProduct2" class="col-xs-3 control-label">Detail</label>
                          <div class="col-xs-4">
                            <input type="detailOfProduct" class="form-control" id="productDetail" name="product_detail" placeholder="productDatail(ex. Product Detail)">
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputMedthodOfExtractDNA" class="col-xs-3 control-label">Medthod Of Extracting DNA</label>
                          <div class="col-xs-4">
                            <input type="methodOfExtractingDNA" class="form-control" id="methodOfExtractinfDNA" name="method_of_extractinf_DNA" placeholder="methodOfExtractinfDNA(ex. Boiling method)">
                          </div>
                      </div>


                      
                      <div class="form-group">
                        <label for="detailOfAnalysis" class="col-xs-2 control-label">Method Of Seperating Gene</label>
                          <div class="col-xs-8">
                         <div class="checkbox">
                                <label><input type="checkbox" id="PRC" name="PRC">PRC</label>
                          </div>
                          <div class="checkbox">
                                <label><input type="checkbox" id="realTime" name="real_time">Real-time</label>
                          </div>
                        </div>
                      </div>
                    <hr>

                      
                        <h4>&nbsp;&nbsp;&nbsp;Gene Of Analysis</h4>
                      

                    <hr>

                      <div class="form-group">
                        <label for="inputEndogenous" class="col-xs-2 control-label">Endogenous</label>
                          <div class="col-xs-8">
                            <input type="endogenous" class="form-control" id="endogenous" name="endogenous" placeholder="Endogenous(ex. endogenous)">
                          </div>
                      </div>

                     
                      <div class="form-group">
            <label class="col-xs-2 control-label">
                    Transgene
            </label>
            <div class="col-xs-2">
              <input type="checkbox" id="CaMV 35S Promoter" name="CaMV_35S_Promoter">&nbsp;&nbsp;CaMV 35S Promoter
            </div>
            <div class="col-xs-2">
              <input type="checkbox" id="Roundup Ready" name="Roundup_Ready">&nbsp;&nbsp;Roundup Ready
            </div>
            <div class="col-xs-2">
              <input type="checkbox" id="NK 603" name="NK_603">&nbsp;&nbsp;NK 603
            </div>
            <!-- <div class="col-xs-2">
              <input type="checkbox">&nbsp;&nbsp;Bt176
            </div>
            <div class="col-xs-2">
              <input type="checkbox">&nbsp;&nbsp;NOS Terminal
            </div>
             <div class="col-xs-2">
              <input type="checkbox">&nbsp;&nbsp;Mon 810
            </div>    
             <div class="col-xs-2">
              <input type="checkbox">&nbsp;&nbsp;GA 21
            </div>     -->
             <!-- <div class="col-xs-2">
              <input type="checkbox">&nbsp;&nbsp;BI11
            </div>            
            <div class="col-xs-2">
              <input type="checkbox">&nbsp;&nbsp;Other
                      <input type="text" class="form-control" id="sampleName" placeholder="Fax">
            </div> -->
          </div>

          <div class="form-group">
                <label class="col-xs-2 control-label">
                </label>

                <div class="col-xs-2">
                  <input type="checkbox" id="Bt176" name="Bt176">&nbsp;&nbsp;Bt176
                </div>
                <div class="col-xs-2">
                  <input type="checkbox" id="NOS Terminal" name="NOS Terminal">&nbsp;&nbsp;NOS Terminal
                </div>
                <div class="col-xs-2">
                  <input type="checkbox" id="Mon 810" name="Mon_810">&nbsp;&nbsp;Mon 810
                </div>

         

           <!-- <div class="form-group">
                <label class="col-xs-2 control-label">
                </label>
                <div class="col-xs-2">
                  <input type="checkbox">&nbsp;&nbsp;Bt176
                </div>
                <div class="col-xs-2">
                  <input type="checkbox">&nbsp;&nbsp;NOS Terminal
                </div>
                <div class="col-xs-2">
                  <input type="checkbox">&nbsp;&nbsp;Mon 810
                </div>
          <div/> -->
          </div>
                    </div>

                      <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-4">
                          <button type="button" class="btn btn-default">Back</button>
                          <button type="button" class="btn btn-danger">Reset</button>
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>

                      

                    </form>
                

                

              </div>
            </div>
          </div>
        </div>
        </div>

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
