<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>4-2-view-lab-task</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="panel panel-default">
        
<div class="panel-heading">
                <h3 class="panel-title">View Lab Task</h3>
                <ol class="breadcrumb" style="float: right; margin-top: -26px;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">View All Lab Task</a></li>
                    <li class="active">View Lab Task</li>
                </ol>
 
            </div>

      <div class="row">
            <div class="col-xs-12">
                    <form class="form-horizontal" role="form">

                      <div class="form-group">
                        <label for="inputCodeOfProduct1" class="col-lg-2 control-label">Product Code :</label>
                          <div class="col-lg-8">
                            <p>111222344444</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputNameOfProduct1" class="col-lg-2 control-label">Product Name :</label>
                          <div class="col-lg-8">
                            <p>Plaping Studio</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="measureAndVolume1" class="col-lg-2 control-label">Measure :</label>
                          <div class="col-lg-8">
                            <p>13g.</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="measureAndVolume1" class="col-lg-2 control-label">Volume :</label>
                          <div class="col-lg-8">
                            <p>24ml.</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="dateStart1" class="col-lg-2 control-label">Date Start:</label>
                          <div class="col-lg-8">
                            <p>12/06/2013</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="dateStart1" class="col-lg-2 control-label">Date Finish:</label>
                          <div class="col-lg-8">
                           <p>12/01/2014</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="responsible" class="col-lg-2 control-label">Responsible :</label>
                          <div class="col-lg-8">
                            <p>1.Somsri</p>
                            <p>2.Jaturawit</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputMedthodOfExtractDNA" class="col-lg-2 control-label">Medthod Of Extracting DNA :</label>
                          <div class="col-lg-8">
                            <p>PRC</p>
                          </div>
                      </div>

                      <hr>
                     
                        <h4>&nbsp;&nbsp;Gene Of Analysis</h4>
                      
                      <hr>

                      <div class="form-group">
                        <label for="inputEndogenous" class="col-lg-2 control-label">Endogenous :</label>
                          <div class="col-lg-8">
                           <p>GEnotype</p>
                          </div>
                      </div>

                      <div class="form-group">
                        <label for="inputTransgene" class="col-lg-2 control-label">Transgene :</label>
                          <div class="col-lg-8">
                            <p>CaMV 35s Promoter</p>
                          </div>
                      </div>


                      <div class="row">
          
        </div>

                       <!-- <div class="form-group">
                        <label for="date1" class="col-lg-2 control-label ">Lab Status</label>
                          <div class="col-lg-2">
                             
                             <select class="dateStart2 form-control">
                              <option>pending</option>
                              <option>passed</option>
                             </select>
                      </div>  
 -->
                      
                      <hr>
                       <div class="form-group">
                        <div class="col-sm-offset-8 col-xs-4">
                         <p>  <strong> ENDOSEE</strong> Yingpisit</p>
                         <p>  <strong> DATE</strong>    13/06/2012</p>
                        </div>
                      </div>
                      <hr>

					  <div class="form-group">
					  <div class="col-sm-offset-2 col-sm-8">
                          <button type="button" class="btn btn-muted btn-lg btn-block disabled">Start Analyzing Sequence</button>
						</div>
					  <div class="col-sm-offset-2 col-sm-8">
					  
					  
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Lab Analyzing Sequence</th>
                  <th>Experiment Document</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1. DNA Extraction</td>
                  <td class="text-success">Uploaded(<a href="#">Download</a>)</td>
                </tr>
                <tr>
                  <td>2. Volume & Concentration Measurement</td>
                  <td class="text-success">Uploaded(<a href="#">Download</a>)</td>
                </tr>
                <tr>
                  <td>3. Endrogenous Gene Analysis</td>
                  <td class="text-success">Uploaded(<a href="#">Download</a>)</td>
                </tr>
                <tr>
                  <td>4. Gene Analysis</td>
                  <td class="text-success">Uploaded(<a href="#">Download</a>)</td>
                </tr>
 
              </tbody>
            </table>
          </div>
		  </div>
		  
		  <hr>
					  <strong><p class="text-normal text-center">(Lab Head only)</p></strong>
                      <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-5">
                          <button type="button" class="btn btn-success btn-lg btn-block">Pass</button>
						</div>
						<div class="col-sm-offset-0 col-sm-5">
                          <button type="button" class="btn btn-danger btn-lg btn-block">Fail</button>
                        </div> 
                        
                      </div>


            </div>
          </div>
    </div>

  


</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
