<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bootstrap HTML Template</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="common.css" rel="stylesheet">
</head>
<style>
</style>
<body>
<div class="container">



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Lab Task</h3>
    </div>
    <div class="panel-body">


<table class="table table-bordered">
  <thead>
    <tr bgcolor="#CC99FF">
      <th>No.</th>
      <th>Request</th>
      <th>Last Updated</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Corn Pup</td>
      <td>15:05:23   25/10/2013</td>
      <td>Completed<img src="gear.jpg" style="float:right;"></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Tomato Big Big</td>
      <td>04:15:14   26/10/2013</td>
      <td>Analyzing<img src="gear.jpg" style="float:right;"></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Coconut Black</td>
      <td>16:33:47 27/10/2013</td>
      <td>Analyzing <img src="gear.jpg" style="float:right;"></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Green Tea</td>
      <td>15:56:02  28/10/2013</td>
      <td>Wait <img src="gear.jpg" style="float:right;"></td>
    </tr>
    
    
  </tbody>
</table>
      
    </div>
  </div>


</div>
<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
</body>
</html>
