<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bootstrap HTML Template</title>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="common.css" rel="stylesheet">
</head>

<body>

  <div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Grid Example</h3>
  </div>

  <div class="panel-body">

    <!-- Things to note:
      * No colons on labels.
      * Add <strong> to labels.
    -->

    <div class="row">
      <div class="col-xs-3 text-right"><strong>Example</strong></div>
      <div class="col-xs-9">
        Candy and the Students Table
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 text-right"><strong>Location</strong></div>
      <div class="col-xs-9">
        Perryridge
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 text-right"><strong>Item Title</strong></div>
      <div class="col-xs-9">Item Description</div>
    </div>

    <div class="row">
      <div class="col-xs-3 text-right"><strong>Another Item Title</strong></div>
      <div class="col-xs-9">Some more item description</div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-3 text-right"><strong>What?</strong></div>
      <div class="col-xs-9">That was a horizontal line! Use hr tag</div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <input type="button" class="btn btn-primary" value="Primary Button">
      </div>
    </div>

  </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

</body>
</html>
